@font-face {
  font-family: "IBM Plex Sans";
  src: url("../../../assets/fonts/ibm-plex/IBMPlexSans-Regular-Latin1.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../../../assets/fonts/ibm-plex/IBMPlexSans-Medium-Latin1.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../../../assets/fonts/ibm-plex/IBMPlexSans-SemiBold-Latin1.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../../assets/fonts/ibm-plex/IBMPlexMono-Regular-Latin1.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../../assets/fonts/ibm-plex/IBMPlexMono-Medium-Latin1.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
